<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.app.guimatec.brasshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/sacola"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AnunciosActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:parentActivityName=".activity.AnunciosActivity"
            android:name=".activity.CadastroActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.MeusAnunciosActivity"
            android:label="@string/title_activity_meus_anuncios"
            android:parentActivityName=".activity.AnunciosActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.app.guimatec.brasshop.activity.AnunciosActivity" />
        </activity>
        <activity
            android:name=".CadastrarAnunciosActivity"
            android:parentActivityName=".activity.MeusAnunciosActivity"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".DetalhesProdutoActivity"
            android:parentActivityName=".activity.AnunciosActivity">

        </activity>
    </application>

</manifest>